
html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;

}

body {
  margin: 0;
  background-color: #efebe8;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}
.containerWrapper{
  margin-top:40px;
  margin-right:43px;
  margin-left:95px;
}
.border-card{
  border: 1px solid;
  margin: 5px;
}
.box-shadow{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
}
.box-shadow:hover{
  box-shadow:0 14px 28px rgba(0,0,0,0.15),0 10px 10px rgba(0,0,0,0.22);
  background: #aba38e;
}
.group{
  background: #fff !important;
}
.group:hover{
  box-shadow:0 14px 28px rgba(0,0,0,0.15),0 10px 10px rgba(0,0,0,0.22);
  background: #efebe8 !important;
}
.predict{
 background: #d5d5d5 !important;
}
.predict:hover{ background: #5fd563 !important;color: #ffffff !important;}
@media only screen and (max-width: 768px){
  .containerWrapper{
    margin-top:40px;
    margin-right:9px;
    margin-left:68px;
  }
}


